.addContainer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.addWrapper{
    border: 1px solid #003580;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
   
}

.addForm{
    display: flex;
    flex-direction: column;
}

.addHead{
    text-align: center;
    color:#003580;
}
.addInput{
    height: 30px;
    padding: 3px;
    margin:10px 0 ;
    outline: none;
    border: none;
}

.addSpan{
    font-weight: 600;
    font-size: 16px;
}

.addHallBtn{
    border: none;
    padding: 10px;
    width: 100%;
    background-color: #0071c2;
    font-weight: 500;
    color: white;
}

.addSuccess{
    color:green;
    text-align:center;
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
}
.addError{
    color:red;
    text-align:center;
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
}

.hall{
    height: 30px;
    margin-bottom: 10px;
}